@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(245 245 245);
}

.transition-effect {
  transition: all 0.4s ease;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.MuiTabs-indicator {
  width: 8px !important;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.dash-border {
  border: 1px dashed #d9d9d9;
  border-radius: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ant-typo-mb-0.ant-typography {
  margin-bottom: 0;
}

.ant-form-item {
  margin-bottom: 0;
}

/* .ant-menu {
  &.ant-menu-inline-collapsed {
    .ant-menu-title-content {
      width: 0px;
      transition: all 0.3s ease;
    }
    .ant-menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
} */

.ant-message-notice-content {
  padding: 4px 8px;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 4px 12px;
}

.ant-modal-close {
  width: 32px;
  height: 32px;
  right: 32px;
}

.ant-steps {
  font-size: 14px;
}

.ant-input {
  padding: 4px 8px;
}

.ant-select-dropdown {
  .ant-select-item-option-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
  }
}

.ant-typo-mb-0 {
  .ant-typography {
    margin-bottom: 0;
  }
}

.ant-switch-handle {
  width: 18px;
  height: 18px;
}
.ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 20px);
}
.ant-switch .ant-switch-handle {
  position: absolute;
  top: 2px;
  inset-inline-start: 2px;
  width: 18px;
  height: 18px;
  transition: all 0.2s ease-in-out;
}
.ant-switch.ant-switch-checked .ant-switch-inner {
  padding-inline-start: 9px;
  padding-inline-end: 24px;
}
.ant-switch .ant-switch-inner {
  display: block;
  overflow: hidden;
  border-radius: 100px;
  height: 100%;
  padding-inline-start: 24px;
  padding-inline-end: 9px;
  transition: padding-inline-start 0.2s ease-in-out, padding-inline-end 0.2s ease-in-out;
}
.ant-switch .ant-switch-handle::before {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  transition: all 0.2s ease-in-out;
  content: "";
}

.form-item-dragger .ant-form-item-control-input-content {
  height: 320px;
}

.form-item-hidden .ant-form-item-control-input {
  display: none;
}
